<article class="etusivucontainer">

  <section class="harjunheila">
    <%= image_tag 'heilapvm.png', :class => 'harjunheilakuva' %>
  </section>


  <div class="signin">
    <section class="signinform">

      <p id="notice"><%= notice %></p>

      <%= form_tag session_path do %>
          <p class="form input-list clearfix">Käyttäjätunnus<br> <%= text_field_tag :username, params[:username] %></p>

          <p class="form input-list clearfix">Salasana <br><%= password_field_tag :password, params[:password] %></p>

          <p class="form"><%= submit_tag "Kirjaudu sisään" %></p>
      <% end %>


    </section>
  </div>
</article>