<p id="notice"><%= notice %></p>

<h1>Kaikki vastaukset</h1>

<table class="table-big">
  <thead>
    <tr>
      <th>Nimi</th>
      <th>Tuleeko</th>
      <th>Ruoka</th>
      <th>Juoma</th>
      <th>Sauna</th>
      <th>Toivebiisi</th>
      <th>Star...</th>
      <th>Kokis</th>
      <th>Sheriffi</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rsvps.each do |rsvp| %>
      <tr>
        <td><%= rsvp.name %></td>
        <td><%= rsvp.attending %></td>
        <td><%= rsvp.food %></td>
        <td><%= rsvp.drink %></td>
        <td><%= rsvp.sauna %></td>
        <td><%= rsvp.wishlist %></td>
        <td><%= rsvp.stars %></td>
        <td><%= rsvp.coke %></td>
        <td><%= rsvp.sheriff %></td>
        <td><%= link_to 'Show', rsvp %></td>
        <td><%= link_to 'Edit', edit_rsvp_path(rsvp) %></td>
        <td><%= link_to 'Destroy', rsvp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

