<div class="rsvp">

  <h1>Näin olet vastannut:</h1>

  <p id="notice"><%= notice %></p>

  <p><%= link_to 'Muokkaa', edit_rsvp_path(@rsvp) %></p>

  <table>

    <tr>
      <td><strong>Nimi:</strong></td>
      <td><%= @rsvp.name %></td>
    </tr>

    <tr>
      <td><strong>Olen:</strong></td>
      <% if @rsvp.attending %>
          <td>  Tulossa!</td>
      <% else %>
          <td> Estynyt saapumaan.</td>
      <% end %>
    </tr>

    <tr>
     <td><strong>Ruokavalio:</strong></td>
      <td>  <%= @rsvp.food %>
      <% unless @rsvp.other.nil? %>
          <%= @rsvp.other %>
      <% end %>
      </td>
    </tr>

    <tr>
      <td>  <strong>Juon:</strong></td>
      <td>  <%= @rsvp.drink %></td>
    </tr>

    <tr>
      <td> <strong>Saunon:</strong></td>
      <td>   <%= @rsvp.sauna %></td>
    </tr>

    <tr>
      <td> <strong>Tanssibiisitoive:</strong></td>
      <td>  <%= @rsvp.wishlist %></td>
    </tr>

    <tr>
      <td>  <strong>Star Wars vai Star Trek:</strong></td>
      <td>  <%= @rsvp.stars %></td>
    </tr>

    <tr>
      <td>  <strong>Kokis:</strong></td>
      <td>  <%= @rsvp.coke %></td>
    </tr>

    <tr>
      <td> <strong>Sheriffi:</strong></td>
      <td>  <%= @rsvp.sheriff %></td>
    </tr>
  </table>

</div>

