
<div class="harjunheila">
<%= image_tag 'katukuva.jpg', :class => 'navikuva' %>
</div>
<nav class="navbar">
      <ul class="navbar-menu">
        <li><%= link_to 'Info', info_path %></li>

        <% if current_user.rsvp.nil? %>

            <li> <%= link_to 'RSVP', new_rsvp_path %></li>

        <% else %>

            <li> <%= link_to 'RSVP', rsvp_path(current_user.rsvp) %></li>

        <% end %>
        <li><i class="kirjautunut"><%= current_user.username %> kirjautunut sisään</i></li>

        <% if is_admin? %>
            <li> <%= link_to 'Muiden vastaukset', rsvps_path %></li>
            <li> <%= link_to 'Kaikki tilit', users_path %></li>
        <% end %>
        <li><%= link_to 'Kirjaudu ulos', signout_path, method: :delete %></li>
      </ul>
</nav>